<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="side" th:fragment="sidebar">

    <a class="side-btn" href="/productcreate">
        <i class="bi bi-camera-fill fs-5 mb-2"></i>
        <span>商品登録</span>
    </a>

    <a class="side-btn" href="/shelfview">
        <i class="bi bi-search fs-5 mb-2"></i>
        <span>照会・編集</span>
    </a>

    <a class="side-btn" href="/comingsoon">
        <i class="bi bi-tags fs-5 mb-2"></i>
        <span>カテゴリ編集</span>
    </a>

    <a class="side-btn" href="/comingsoon">
        <i class="bi bi-box-seam fs-5 mb-2"></i>
        <span>入出庫入力</span>
    </a>

</div>
</body>
</html>
