<!DOCTYPE html>
</a>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ページが見つかりません</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
	<header class="popo-header">
		<img src="/images/app-icon.png" alt="アイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
	</header>
	<h1>404 - ページが見つかりません</h1>
	<p>指定されたURLは存在しないようです。</p>
	<a href="/" id="btn">トップページへ戻る</a>
</body>
</html>
