<!DOCTYPE html>
</a>
<head>
<meta charset="UTF-8">
<title>アクセス拒否</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
	<header class="popo-header">
		<img src="/images/app-icon.png" alt="アイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
	</header>
	<h1 style="margin-top: 80px;">アクセスが許可されていません</h1>
	<p>このページを見るにはログインが必要です。</p>
	<a href="/login" id="btn">ログインページへ</a>
</body>
</html>
