<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>ホーム</title>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/category.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="main-layout">	
		
		<aside class="sidebar">
			<div th:replace="fragments/sidebar :: sidebar"></div>
		</aside>
	
		<div class="content">
			<div class="container">
				<h2>カテゴリ編集</h2>
				<p>カテゴリ名を編集し、保存ボタンを押してください。</p>
				
				<!-- エラーメッセージ -->
				 <p th:if="${error}" th:text="${error}" style="color:red;"></p>

				 <form th:action="@{/categoryedit}" method="post"
				       th:object="${category}" class="form form-edit">

				     <!-- idを隠しフィールドで送信 -->
				     <input type="hidden" th:field="*{id}"/>

				     <!-- 既存のカテゴリ名を初期値として表示 -->
				     <input type="text" th:field="*{categoryName}" placeholder="カテゴリ名を入力">

				     <!-- バリデーションエラー表示 -->
				     <p th:if="${#fields.hasErrors('categoryName')}"
				        th:errors="*{categoryName}" style="color:red;"></p>	
					<p><button type="submit" class="btn">保存</button></p>				
				</form>
				<a href="/categories" class="btn btn-cancel">戻る</a>
			</div>
		</div>
	</div>
</body>
</html>