<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ホーム</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body class="home">
	<header class="popo-header">
		<img src="images/popo-icon.png" alt="ポポのシルエット" class="popo-icon">
		<h1 class="site-tittle">ポポアルバム（仮名）</h1>
		<div class="user-info" th:if="${currentUser}">
			<span th:text="'ようこそ、' + ${currentUser.username} + 'さん'">ようこそ、ユーザーさん</span>
		</div>
		<a class="btn" href="/login">ログアウト</a>

	</header>
	<div class="background">
		<img src="images/home-popo.png" alt="座るポポ" class="center-image">
	</div>
	<div class="popo-container">
		<p>ホーム画面</p>
		<a class=btn href="/post">アルバムに写真をのせる</a>
		<a class=btn href="/album">アルバムを見返す</a>
	</div>