<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ホーム</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body class="home">
	<header class="popo-header">
		<img src="/images/app-icon.png" alt="アイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
		<div class="user-info" th:if="${currentUsername}">
			<span th:text="'担当者：' + ${currentUsername} ">担当者名</span>
		</div>
		<a class="logoutbtn" href="/login">ログアウト</a>
	</header>
	<div class="background">
	</div>
	<div class="popo-container">
		<a class=btn href="/productcreate">商品新規登録</a>
		<a class=btn href="/shelfview">照会・編集</a>
	</div>