<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ログイン</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
	<header class="popo-header">
		<img src="/images/app-icon.png" alt="アイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
	</header>
	
	<div class="popo-container">
		<h2>ログイン</h2>
		
		<!--エラーメッセージ表示-->
		<div th:if="${param.error}" class="error">
			メールアドレスまたはパスワードが間違っています
		</div>
		
		<!--ログアウト成功メッセージ-->
		<div th:if="${param.logout}" class="succes">
			ログアウトしました
		</div>
		
		<form action="/login" method="post">
			<div>
				<label for="email">メールアドレス</label>
				<input type="email" id="email" name="username" required autocomplete="off">
			</div>
			
			<div>
				<label for="password">パスワード</label>
				<input type="password" id="password" name="password" required autocomplete="off">
			</div>
			
			<button type="submit">ログイン</button>
		</form>
		
		<p><a th:href="@{/register}">新規登録はこちら</a></p>