<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
	<header class="popo-header">
		<img src="/images/app-icon.png" alt="アイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
		<div class="user-info" th:if="${currentUsername}">
			<span th:text="'担当者：' + ${currentUsername} ">担当者名</span>
		</div>
		<a class="logoutbtn" href="/login">ログアウト</a>
	</header>
	<div class="popo-container">

		<div class="popo-bubble">
		<h1>商品登録</h1>
		</div>
		
		<p>商品画像と商品名、在庫数、価格を入力してください。<br>

			
		<form action="/productcreate" method="post" enctype="multipart/form-data">
			<input type="hidden" name="redirectTo" value="updatedescription">
			<input type="file" name="productimage" accept="image/*">
			<label for="name">商品名</label>
			<input type="text" id="name" name="name" required autocomplete="off">
			<label for="price">価格</label>
			<input type="text" id="price" name="price" required autocomplete="off">
			<label for="stock">在庫数</label>
			<input type="text" id="stock" name="stock" required autocomplete="off">
			<button type="submit">商品情報を登録</button>
		</form>
		
		<a href="/home" class="btn">ホームに戻る</a>
	</div>

</body>
</html>