<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
	<header class="popo-header">
		<img src="/images/app-icon.png" alt="アイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
	</header>
	<div class="popo-container">
		<div class="popo-bubble">
		<h1>ユーザー情報を入力してください。</h1>
		</div>
		<form action="/register" method="post" id="registerForm">

			<label for="username">氏名</label>
			<input type="text" id="username" name="username" required autocomplete="off">
			
			<label for="email">メールアドレス</label>
			<input type="email" id="email" name="email" required autocomplete="off">
			
			<label for="password">パスワード</label>
			<input type="password" id="password" name="password" required autocomplete="off">
			
			<button type="submit">新規登録</button>
		</form>
	</div>

	
</body>
</html>