<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ポポアルバム（仮名）</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body class="popo-register">
	<div class="popo-container">
		<img src="/images/popo-back.png" alt="ポポの後ろ姿" class="popo-back"/>
		<h1>あなたのことを教えてください</h1>
		<form th:action="@{/register}" method="post" id="registerForm">
			<label for="username">ニックネーム</label>
			<input type="text" id="username" name="username" required>
			
			<label for="メールアドレス">メールアドレス</label>
			<input type="email" id="email" name="email" required>
			
			<label for="パスワード">パスワード</label>
			<input type="password" id="password" name="password" required>
			
			<button type="submit">ポポに会いに行く</button>
		</form>
	</div>
	
	<script>
		document.getElementById("registerForm").addEventListener("submit",function(event) {
			event.preventDefault(); //フォーム送信停止
			
			const data = {
				username:document.getElementById("username").value,
				email: document.getElementById("email").value,
				password: document.getElementById("password").value
			};
			
			fetch("/api/register", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify(data)
			})
			.ther(response => response.text())
			.then(text => alert(text))
			.catch(error => alert("エラーが発生しました"));
		});
	</script>
		

</body>
</html>