<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
	<header class="popo-header">
		<img src="/images/app-icon.png" alt="アイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
		<div class="user-info" th:if="${currentUsername}">
			<span th:text="'担当者：' + ${currentUsername} ">担当者名</span>
		</div>
		<a class="logoutbtn" href="/login">ログアウト</a>
	</header>
	<div id="app">
		<h2>商品一覧</h2>
		<div class="card-container">
			<div class="product-card" v-for="product in products" :key="product.id"
			@click="goToProductDetail(product.id)">
				<img :src="product.imageUrl" alt="商品画像" class="product-image">
				<div class="product-info">
					<h3 class="product-name">${ product.product_name }</h3>
					<p class="product-price">
						<span class="info-label">価格</span>${ product.price }円
					</p>
					<p class="product-stock">
						<span class="info-label">在庫数</span>${ product.stock}個
					</p>
				</div>
			</div>
		</div>
		<div  class="btn-group">
		<button class="btn" @click="prevPage">前へ</button>
		<button class="btn" @click="nextPage">次へ</button>
		<a class="btn" href="/home">ホームに戻る</a>
		</div>
	</div>
	
	<script>
		const app = Vue.createApp({
			delimiters: ['${','}'],
			data(){
				return{
					products:[],
					currentPage: 0,
					pageSize: 10
				};
			},
			methods: {
				fetchProducts(){
					axios.get('/api/product/shelfview',{
						params: {
							page: this.currentPage,
							size: this.pageSize
						}
					})
					.then(response => {
						this.products = response.data.content;
					});
					
				},
				nextPage(){
					this.currentPage++;
					this.fetchProducts();
				},
				prevPage(){
					if(this.currentPage > 0) {
						this.currentPage--;
						this.fetchProducts();
					}
				},
				goToProductDetail(productId){
					window.location.href=`/products/${productId}/detail`;
				}
			},
				mounted(){
					this.fetchProducts();	
		}
	});
	app.mount('#app');
	</script>
