<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
	<header class="popo-header">
		<img src="/images/app-icon.png" alt="アイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
		<div class="user-info" th:if="${currentUsername}">
			<span th:text="'担当者：' + ${currentUsername} ">担当者名</span>
		</div>
		<a class="logoutbtn" href="/login">ログアウト</a>
	</header>
	<div class="popo-container">
		<h2>商品一覧</h2>
		<div th:each="post : ${posts}" class="cheki">
		    <img th:src="${post.image_url}" alt="投稿画像"/>
		    <p class="caption" th:text="${post.caption}"></p>
			<div class="info">
				<p class="ai-comment" th:text="${post.aiComment.content}"></p>
				<p class="date" th:text="${post.createdAt}"></p>
			</div>
		</div>
		<a class="btn" href="/home">ホームに戻る</a>
	</div>
