<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タグ編集チュートリアル</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</head>
<body>
	<header class="popo-header">
		<img src="images/app-icon.png" alt="ｱﾌﾟﾘアイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
		<div class="user-info" th:if="${currentUsername}">
			<span th:text="'担当者：' + ${currentUsername} ">担当者名</span>
		</div>
		<a class="logoutbtn" href="/login">ログアウト</a>
	</header>
	<div class="popo-container">
		<div class="thumbnail-wrapper">
		<img src="/images/popo-smile.png" alt="笑顔のポポ" class="popo-smile">
		<img th:src="@{${imagePath}}" alt="投稿画像" class="post-thumbnail">
		</div>
		<div class="popo-bubble">
			<h2 th:text="${aiDescription}" ></h2>
		</div>
		<p>登録した商品について、上記の説明文が生成されました。編集が必要な場合、編集し登録してください。</p>
		
		<button onclick="window.location.href='/home'" class="home-button">ホーム画面へ</button>

		
	</div>

</body>
</html>