<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>チュートリアル</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<header class="popo-header">
		<img src="/images/app-icon.png" alt="アイコン" class="app-icon">
		<h1 class="site-tittle">SnapShelf</h1>
		<div class="user-info" th:if="${currentUsername}">
			<span th:text="'担当者：' + ${currentUsername} ">担当者名</span>
		</div>
		<a class="logoutbtn" href="/login">ログアウト</a>
	</header>

	
	<div class="popo-container">

		<div>
		<h2>商品登録のチュートリアル</h2>
		</div>
		
		<p>商品画像と商品名、在庫数、価格を入力し、「説明文生成」ボタンを押してください。<br>
			生成された説明文は編集することができます。</p>
			<div class="form-container">
				<input type="hidden" name="redirectTo" value="updatedescription">
				<input type="file" ref="fileInput" @change="handleImageUpload" name="productimage" accept="image/*" required :disabled="isLocked">
				<div v-if="imagePreview" class="image-preview">
					<img :src="imagePreview" alt="商品画像" style="max-width: 200px; max-height: 200px;">
				</div>
				<label for="name">商品名</label>
				<input type="text" v-model="name" id="name" name="name" required autocomplete="off" :disabled="isLocked">
				<label for="price">価格</label>
				<input type="text" v-model="price" id="price" name="price" required autocomplete="off" :disabled="isLocked">
				<label for="stock">在庫数</label>
				<input type="text" v-model="stock" id="stock" name="stock" required autocomplete="off" :disabled="isLocked">
				<button @click="showGenerateModal=true" :disabled="isLocked"><span><i class="bi bi-chat-dots"></i></span> 説明文生成</button>
				<textarea v-model="aiDescription" rows="5" cols="50" required></textarea>
			</div>

			<button @click="showSaveModal=true">保存</button>

			<button @click="showCancelModal=true">チュートリアル終了</button>	
		</div>
		
		<!-- モーダル -->
		
		<!-- オーバーレイ -->
		<div v-if="showGenerateModal" class="modal-overlay"></div>
		<div v-if="showSaveModal" class="modal-overlay"></div>
		<div v-if="showCancelModal" class="modal-overlay"></div>
		
		<!--　モーダル本体　-->
		<div v-if="showGenerateModal" class="modal">
			<p>商品情報を確定し、説明文を生成します。よろしいですか？</p>
			<div class="modal-button-group">
			<button @click="generateDescription">OK</button>
			<button @click="showGenerateModal=false">キャンセル</button>
			</div>
		</div>
		
		<div v-if="showSaveModal" class="modal">
			<p>商品を登録します。よろしいですか？</p>
			<div class="modal-button-group">
			<button @click="saveProduct">OK</button>
			<button @click="showSaveModal=false">キャンセル</button>
			</div>
		</div>
		
		<div v-if="showCancelModal" class="modal">
			<p>チュートリアルを終了します。よろしいですか？</p>
			<div class="modal-button-group">
			<button @click="goHome">OK</button>
			<button @click="showCancelModal=false">キャンセル</button>
			</div>
		</div>
		
		<div v-if="showDialog" class="dialog-bar">
			<p>保存しました</p>
			<button @click="closeDialog">閉じる</button>
		</div>

	</div>
	
	<script>
	  new Vue({
	    el: '#app',
	    data: {
			aiDescriptionId:'',
			name: '',
			price: '',
			stock: '',
			imageFile: null,
			imagePreview: null,		
	      	aiDescription: '', 
	      	showDialog: false,
			isLocked: false,
			showGenerateModal: false,
			showSaveModal: false,
			showCancelModal: false
			
	    },
	    methods: {
			handleImageUpload(event) {
				this.imageFile = event.target.files[0];
				if(this.imageFile) {
					this.imagePreview = URL.createObjectURL(this.imageFile);
				}
			},
			async generateDescription() {
				console.log("画像ファイル：", this.imageFile); 
				
				const formData = new FormData();
				formData.append('name',this.name);
				formData.append('price',this.price);
				formData.append('stock',this.stock);
				formData.append('productimage',this.imageFile);
				
				const response = await axios.post('/productcreate',formData)
				this.aiDescriptionId = response.data.aiDescriptionId;
				this.aiDescription = response.data.aiDescription;
				this.isLocked = true;
				console.log("反映された説明文：", this.aiDescription);
				this.showGenerateModal = false;
			},
			async saveProduct() {
				axios.post('/api/update-description',{
					id:parseInt(this.aiDescriptionId),
					description:this.aiDescription
				},
				{
					headers: {
						'Content-Type': 'application/json'
					}
				}
				)
				.then(response => {
					this.showDialog = true;
					this.showSaveModal = false;
					this.resetForm();
				})
				.catch(error => {
					console.error("保存失敗",error);
					alert("保存に失敗しました");
				});
			},  
			resetForm() {
				this.aiDescriptionId = '';
				this.name =  '';
				this.price =  '';
				this.stock = '';
				this.imageFile =  null;
				this.imagePreview = null;		
			  	this.aiDescription = '';
				this.isLocked = false;
				this.showGenerateModal = false;
				this.showSaveModal = false;
				this.showCancelModal = false
				
				if (this.$refs.fileInput) {
				  this.$refs.fileInput.value = null;
				}

			},
			closeDialog() {
				this.showDialog = false;
			},
			goHome() {
				window.location.href = '/home';
			}
		}
		
	   });
	</script>
</body>
</html>