<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>商品説明の編集</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body> 
  <div id="app">
    <header class="popo-header">
      <img src="images/app-icon.png" alt="ｱﾌﾟﾘアイコン" class="app-icon">
      <h1 class="site-tittle">SnapShelf</h1>
      <div class="user-info" th:if="${currentUsername}">
        <span th:text="'担当者：' + ${currentUsername}">担当者名</span>
      </div>
      <a class="logoutbtn" href="/login">ログアウト</a>
    </header>

    <div class="popo-container">
		<h2>説明文の確認</h2>
      <div class="thumbnail-wrapper">
        <img th:src="@{${imageUrl}}" alt="投稿画像" class="post-thumbnail">
      </div>

      <div class="popo-bubble">
        <input type="hidden" id="aiDescriptionId" th:value="${aiDescriptionId}" />
        <textarea v-model="aiDescription" rows="5" cols="50"></textarea>
      </div>

      <p>登録した商品について、上記の説明文が生成されました。<br>編集が必要な場合、編集し登録してください。</p>

      <button @click="updateDescription">上書き保存</button>
      <a href="/home" id="btn" class="btn">ホーム画面へ</a>

      <div v-if="showDialog" class="dialog">
        <p>上書きしました</p>
        <button @click="closeDialog">閉じる</button>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
    new Vue({
      el: '#app',
      data: {
        aiDescription: /*[[${aiDescription}]]*/ '', 
        showDialog: false
      },
      methods: {
        updateDescription() {
          const idElement = aiDescriptionId;
		  const id = parseInt(idElement.value);
		  
		  console.log("送信するID：",id);
		  
          axios.post('/api/update-description', {
            id: id,
            description: this.aiDescription
		  },{
			headers:{
				'Content-Type':'application/json'
			}
          })
          .then(response => {
            this.showDialog = true;
          })
          .catch(error => {
            console.error("保存失敗", error);
            alert("保存に失敗しました");
          });
        },
        closeDialog() {
          this.showDialog = false;
        }
      }
    });
  </script>
</body>
</html>
